@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');


/* HEADER */
header{
    background-color: rgb(255, 255, 255);
    padding: 15px;
    box-shadow:0 0 3px black ;
}

header li{
    display: inline;
    padding-left: 45px;
}

header li a{
    color: black;
    text-decoration: none;
    padding: 7px;
    transition: .2s ease;
}

header li a:hover{
    color: blue;
}

header ul #contacto a{
    color: white;
    background-color: #073ECE;
    border-radius: 2px;
    float: right;
    position: relative;
    top: -5px;
    margin-right: 50px;
    transition: .3s ease;
}

header ul #contacto a:hover{
    color: #073ECE;
    background-color: white;

}

header li img{
    width: 50px;
    float: left;
    margin-top: -20px;
}

/* CONTENEDOR */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section{
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   background: #1B4F72;
}

section::before{
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 50%;
   height: 100%;
}

.container{
    position: relative;
    min-width: 1100px;
    min-height: 550px;
    display: flex;
    z-index: 1000;
}

.container .contactInfo{
    position: absolute;
    top: 40px;
    width: 350px;
    height: calc(100% - 80px);
    background: #21618C;
    z-index: 1;
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 20px 25px rgba(0,0,0,0.15);
}

.container .contactInfo h2{
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}

.container .contactInfo ul.info{
    position: relative;
    margin: 20px 0; 
}

.container .contactInfo ul.info li{
    position: relative;
    list-style: none;
    display: flex;
    margin: 20px 0;
    cursor: pointer;
    align-items: flex-start;
}

.container .contactInfo ul.info li span:nth-child(1) i{
    max-width: 100%;
    filter: invert(1);
}

.container .contactInfo ul.info li span:nth-child(2){
    color: #fff;
    margin-left: 10px;
    font-weight: 300;
}

.container .contactInfo ul.sci{
    position: relative;
    display: flex;
}

.container .contactInfo ul.sci li{
    list-style: none;
    margin-right: 15px;
}

.container .contactInfo ul.sci li a{
    text-decoration: none;
}

.container .contactInfo ul.sci li i{
    filter: invert(1);
}


.container .contactForm{
    position: absolute;
    padding: 70px 50px;
    padding-left: 250px;
    margin-left: 150px;
    width: calc(100% - 150px);
    height: 100%;
    background: #fff;
    box-shadow: 0 50px 50px rgba(0,0,0,0.25);
}

.container .contactForm h2{
    color: black;
    font-size: 24px;
    font-weight: 500;
}

.container .contactForm .formBox{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
}

.container .contactForm .formBox .inputBox{
    position: relative;
    margin-bottom: 35px;
}

.container .contactForm .formBox .inputBox.w50{
    width: 47%;
}

.container .contactForm .formBox .inputBox.w100{
    width: 100%;
}

.container .contactForm .formBox .inputBox input,
.container .contactForm .formBox .inputBox textarea{
    width: 100%;
    resize: none;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    border: none;
    outline: none;
    border-bottom: 1px solid #777;
}

.container .contactForm .formBox .inputBox textarea{
    height: 120px;
}

.container .contactForm .formBox .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    pointer-events: none;
    font-size: 18px;
    font-weight: 300;
    transition: 0.3s;
}

.container .contactForm .formBox .inputBox input:focus ~ span,
.container .contactForm .formBox .inputBox input:valid ~ span,
.container .contactForm .formBox .inputBox textarea:focus ~ span,
.container .contactForm .formBox .inputBox textarea:valid ~ span{
    transform: translateY(-20px);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #21618C;
    font-weight: 500;
}

.container .contactForm .formBox .inputBox input[type="submit"]{
    position: relative;
    cursor: pointer;
    background: #21618C;
    color: #fff;
    border: none;
    max-width: 150px;
    padding: 12px;
}

.container .contactForm .formBox .inputBox input[type="submit"]:hover{
   background: #0d948b; 
}

/* FOOTER */
footer {
    position: fixed;
    bottom: 0;
}

@media (max-height:800px) {
    footer {
        position: static;
    }
    header {
        padding-top: 40px;
    }
}

.footerAcomodo {
    background-color: #1f274c;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}

.footerAcomodo .footerIzq, .footerAcomodo .footerCentro, .footerAcomodo .footerDerecho {
    display: inline-block;
    vertical-align: top;
}

/* Footer Izquierdo */

.footerAcomodo .footerIzq {
    width:35%;
}

.footerAcomodo h3 {
    color: #f1f6fd;
    margin: 0;
}

/* Footer links */

.footerAcomodo .footerLinks {
    color: #f1f6fd;
    margin: 20px 0 12px;
}

.footerAcomodo .footerLinks a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footerAcomodo .footerCopy {
    color: #616a75;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Centro */

.footerAcomodo .footerCentro {
    width: 30%;
    margin-left: 50px;
}

.footerAcomodo .footerCentro i {
    background-color: #3554c0;
    color: #ffffff;
    font-size: 25px;
    width: 32px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footerAcomodo .footerCentro i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footerAcomodo .footerCentro p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footerAcomodo .footerCentro p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footerAcomodo .footerCentro p a {
    color: #21618C;
    text-decoration: none;
    ;
}

/* Footer Derecho */

.footerAcomodo .footerDerecho {
    width: 30%;
}

.footerAcomodo .footerNosotros {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footerAcomodo .footerNosotros span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footerAcomodo .footerIconos {
    margin-top: 25px;
}

.footerAcomodo .footerIconos a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #3554c0;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footerAcomodo .footerIconos a:hover {
    background-color: #74a3e6;
}

.footerLinks a:hover {
    color: #74a3e6;
}

@media (max-width: 880px) {
    .footerAcomodo .footerIzq, .footerAcomodo .footerCentro, .footerAcomodo .footerDerecho {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footerAcomodo .footerCentro i {
        margin-left: 0;
    }
}

/* RESPONSIVO */
@media (max-width: 1200px){
    .container{
        width: 90%;
        min-width: auto;
        margin: 20px;
        box-shadow: 0 20px 50px rgba(0,0,0,0.2);
    }
    .contactInfo{
        top: 0;
        height: 550px;
        position: relative;
        box-shadow: none;
    }
    .container .contactForm{
        position: relative;
        width: calc(100% - 350px);
        padding-left: 0;
        margin-left: 0;
        padding: 40px;
        height: 550px;
        box-shadow: none;
    }
}

@media (max-width: 991px){
    section{
        background: #1B4F72;
    }
    section::before{
        display: none;
    }
    .container{
        display: flex;
        flex-direction: column-reverse;
    }
    .container .contactForm{
        width: 100%;
        height: auto;
    }
    .container .contactInfo{
        width: 100%;
        height: auto;
        flex-direction: row;
    }
    .container .contactInfo ul.sci{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 600px){
    .container .contactForm{
       padding: 25px; 
    }
    .container .contactInfo{
        padding: 25px; 
        flex-direction: column;
        align-items: flex-start;
    }
    .container .contactInfo ul.sci{
        margin-top: 40px;
    }
    .container .contactForm .formBox .inputBox.w50{
        width: 100%;
    }
}