/*Header*/
body{
    background-color: rgb(255, 255, 255);
    padding: 0%;
    margin: 0%;
    overflow-x: hidden;
    text-align: center;
    font-family: 'Nunito', sans-serif;
}

header{
    background-color: rgb(255, 255, 255);
    padding: 15px;
    box-shadow:0 0 3px black ;
}

header li{
    display: inline;
    padding-left: 45px;
}

header li a{
    color: black;
    text-decoration: none;
    padding: 7px;
    transition: .2s ease;
}

header li a:hover{
    color: blue;
}

header ul #contacto a{
    color: white;
    background-color: #073ECE;
    border-radius: 2px;
    float: right;
    position: relative;
    top: -5px;
    margin-right: 50px;
    transition: .3s ease;
}

header ul #contacto a:hover{
    color: #073ECE;
    background-color: white;

}

header li img{
    width: 50px;
    float: left;
    margin-top: -20px;
}
/*servicios*/

.services{
	width:100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}
.s-heading{
	text-align:center;
}
.s-heading h1{
	color:#576975;
	font-size: 3rem;
	font-weight: 400;
	letter-spacing: 1px;
	margin: 0px;
}
.s-heading p{
	color: rgba(87,105,117,0.60);
	font-size: 1rem;
	margin: 5px;
	text-align: center;
}
.s-box-container{
	width:100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.s-box{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	width:300px;
	padding: 20px 25px;
	height: 400px;
	box-sizing: border-box;
	margin: 30px;
	position: relative;
}
.s-box img{
	height: 75px;
}
.s-box h1{
	color:#576975;
	letter-spacing: 1px;
	font-size: 1.5rem;
	margin-bottom: 8px;
	
}
.s-box p{
	color: rgba(87,105,117,0.90);
	text-align: center;
}
.s-btn{
	width: 140px;
	height: 40px;
	border-radius: 20px;
	border:1px solid rgba(74,144,226,0.50);
	display: flex;
	justify-content: center;
	align-items: center;
	color:#576975;
	margin-top:10px; 
}
.bar{
	width: 100px;
	height: 6px;
	position: absolute;
	left: 50%;
	top: 0%;
	transform: translateX(-50%);
	background-color:#4a90e2; 
	border-radius: 0px 0px 10px 10px;
	display: none;
	animation: bar 0.5s;
}
.s-box:hover{
	box-shadow: 2px 2px 30px rgba(0,0,0,0.08);
	transition: all ease 0.3s;
}
.s-btn:hover{
	background-color:#4a90e2;
	border: 1px solid #4a90e2;
	color:#FFFFFF;
	transition: all ease 0.3s;
}
.s-box:hover .bar{
	display: block;
}
@keyframes bar{
	0%{
		width:0px;
	}
	100%{
		width:100px;
	}
}
@media(max-width:1050px){
	.s-box-container{
		flex-wrap: wrap;
		
	}	
	.services{
		height: auto;
	}
	.s-heading{
		margin: 15px;
	}
	.s-box{
		flex-grow: 1;
	}
	
}


/* FOOTER */
footer {
    position: fixed;
    bottom: 0;
}

@media (max-height:800px) {
    footer {
        position: static;
    }
    header {
        padding-top: 40px;
    }
}

.footerAcomodo {
    background-color: #1f274c;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}

.footerAcomodo .footerIzq, .footerAcomodo .footerCentro, .footerAcomodo .footerDerecho {
    display: inline-block;
    vertical-align: top;
}

/* Footer Izquierdo */

.footerAcomodo .footerIzq {
    width:35%;
}

.footerAcomodo h3 {
    color: #f1f6fd;
    margin: 0;
}

/* Footer links */

.footerAcomodo .footerLinks {
    color: #f1f6fd;
    margin: 20px 0 12px;
}

.footerAcomodo .footerLinks a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footerAcomodo .footerCopy {
    color: #616a75;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Centro */

.footerAcomodo .footerCentro {
    width: 30%;
    margin-left: 50px;
}

.footerAcomodo .footerCentro i {
    background-color: #3554c0;
    color: #ffffff;
    font-size: 25px;
    width: 32px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footerAcomodo .footerCentro i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footerAcomodo .footerCentro p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footerAcomodo .footerCentro p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footerAcomodo .footerCentro p a {
    color: #c0ab35;
    text-decoration: none;
    ;
}

/* Footer Derecho */

.footerAcomodo .footerDerecho {
    width: 30%;
}

.footerAcomodo .footerNosotros {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footerAcomodo .footerNosotros span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footerAcomodo .footerIconos {
    margin-top: 25px;
}

.footerAcomodo .footerIconos a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #3554c0;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footerAcomodo .footerIconos a:hover {
    background-color: #74a3e6;
}

.footerLinks a:hover {
    color: #74a3e6;
}

@media (max-width: 880px) {
    .footerAcomodo .footerIzq, .footerAcomodo .footerCentro, .footerAcomodo .footerDerecho {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footerAcomodo .footerCentro i {
        margin-left: 0;
    }
}       

